@model Nimap_Project.Models.Product;

@{
    TempData["message"] = "Delete";
}

<h1>Delete Product</h1>
<hr />

<div>
    <dl class="row">
        <dt>
            @Html.DisplayNameFor(Model => Model.ProductId)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.ProductId)
        </dd>
        <dt>
            @Html.DisplayNameFor(Model => Model.ProductName)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.ProductName)
        </dd>
        <dt>
            @Html.DisplayNameFor(Model => Model.CategoryId)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.CategoryId)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="Submit" value="Delete" class="btn btn-danger" />
    </form>
    <a asp-action="Index">Back To List</a>

</div>

